body {
    font-family: 'Hind', sans-serif;
    margin: 0px;
    color: #fff;
    letter-spacing: normal;
}

a {
    color: #000;
    color: #4c5c65;
    font-size: 12.5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.header__content {
    display: flex;
    justify-content: space-between;
   
        align-items: center;
        padding-left: 30px;
         @media screen and (min-width: 1200px) {
            padding-left: 0px;
            justify-content: space-around;
         }
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: center;
    font-size: smaller;
    @media screen and (min-width: 1200px) {
    font-size: medium;
    }       
}

.header__nav:hover {
text-decoration: none;
}

.header__items {
margin-right: 40px;
}

.header__items:hover {
text-decoration: none;
}

.main__promo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9F7F66;
    color: #FFF;
    height: 40px;
    margin-bottom: 10px;
}

.title__link {
    font-size: 20px;
    line-height: 30px;
    border: aliceblue;
    border-color: #fff !important;
    font-weight: 500;
    text-transform: none;
    border-bottom: 1px solid;
    display: inline-block;
    text-decoration: none;
    letter-spacing: normal;
    font-variant-ligatures: no-common-ligatures;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    text-align: left;

    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
    overflow: hidden;
    font-family: "ProximaNovaBold",Arial,sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    background: rgba(255,255,255,0.76);
    color: currentColor;
    white-space: nowrap;
    -webkit-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out false;
    transition: all 0.15s ease-in-out false;

    display: inline-block;
    padding: 1.2em 2.5em 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4c5c65;
    border: none;
}


.wrapper__items {
    flex: 1 1 400px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.wrapper__flex {
    display: flex;
    justify-content: space-between;
/*     margin-top: 10px;
 */    align-items: center;
}

.wrapper__items-title {
    overflow: hidden;
    font-family: "ProximaNovaRegular",Arial,sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9aa1a4;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.wrapper__items-price {
    font-size: 18px;
    font-weight: 500!important;
    color: #3e443b;
}

.wrapper__items-desc {
/*     margin-bottom: 10px;
 */    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
    line-height: 11px;
    height: 100%;
    font-weight: 500;
}

.wrapper__items-promo {
    position: absolute;
    left: 7px;
    top: 5px;
    padding: 2px 5px;
    font-size: 14px;
    color: #FFF;
    background-color: #38a7ba;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    font-weight: normal;
    letter-spacing: normal;
    height: 20px;
    line-height: 20px;
    padding: 1px 8px;
}

.wrapper__list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;margin: 0;
    padding: 0;
    list-style: none;
}

.shop__container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1470px;display: block;
}

.wrapper__title {
    font-size: calc(26px + 10 * ((100vw - 320px)/ 960));
    margin: 0 0 40px;
    padding-bottom: 10px;
    font-weight: 700;
    font-weight: 400;
    text-align: left;
    color: #6bc2bb;
    text-transform: uppercase;
}

.wrapper__bord-desc {
    border: 1px solid #e8e8e8;
    padding: 15px;
}

.wrapper__bord-desc:hover {
    /* border: 2px solid #000; */
    cursor: pointer;
}

.wrapper__link-bord {
    border: 1px solid #e8e8e8;

    /*   -webkit-transition: all 0.15s ease-in-out;
      -webkit-transition-delay: 0s; */
}

.wrapper__link-bord:hover {
    border: 2px solid #4c5c65;
    /* border-bottom: 0px; */
    /* border: 2px solid rgb(104,110,100); */
    cursor: pointer;
    transition: all 0.25s ease-out;
   /*  transform: scale(0,0); */
   box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
   border:3px solid;
    border-image: linear-gradient(rgb(128 13 255 / 10%), rgba(123, 123, 124, 0.7098039216)) 1;
}

.mr20 {
    
    margin-right: 35px;

}

.button__section {
    width: 100%;
    height: 77px;
    border: 2px solid #637374;
    background-color: transparent;
    font-size: initial;
    color: #4c5c65ed;
    border:3px solid;
    border-image: linear-gradient(rgb(128 13 255 / 10%), rgba(123, 123, 124, 0.7098039216)) 1;
    @media screen and (min-width:1200px) {
        font-size: x-large;
        text-shadow:  0 0 2px rgb(76 92 101 / 31%);
        height: 80px;
        color: #4c5c65ed;
        width: 300px;
    border:3px solid;
    border-image: linear-gradient(rgb(128 13 255 / 10%), rgba(123, 123, 124, 0.7098039216)) 1;
    }   
}

.section__button-list {
    padding: 0px 120px 77px 136px;
    @media screen and (min-width:1200px) {
    padding: 0px 120px 120px 120px;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.hero__section {
    background-image: url('../../img/hero-1mob.png');
  height: 53vh; width: 100%; 
  background-repeat: no-repeat; 
 background-size: 100% 100%;
  position: relative;

  @media screen and (min-width: 1200px) {
    background-image: url('../../img/hero1.png');
  height: 72vh; width: 100%; 
  background-repeat: no-repeat; 
 background-size: 100% 100%;
  position: relative;
  }
}

.hero__section-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.hero__title {
    position:absolute;
    font-size: 32px; 
    top: 20%; 
    left:5%;
    line-height: 60px;
    letter-spacing: normal;
    font-weight: 500;
    @media screen and (min-width: 1200px) {
    position:absolute;
    font-family: "Hind",Arial,sans-serif;
    color: #fff;
    font-size: 57px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 10px rgb(76 92 101 / 75%);
}
}

.hero__subtitle {
    left: 5%;
    position: absolute;
    top: 28%;
    font-family: ProximaNovaRegular,Arial,sans-serif;
    color: #4c5c65;
    font-size: 22px;
    text-decoration: none;
    margin-bottom: 0.6em;
    text-shadow: 0 0 10px rgb(76 92 101 / 75%);
    font-weight: inherit;
    @media screen and (min-width: 1200px) {
    left: 5%;
    position: absolute;
    top: 28%;
    font-family: ProximaNovaRegular,Arial,sans-serif;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 0.6em;
    text-shadow: 0 0 10px rgb(76 92 101 / 75%);
    font-weight: inherit;
    }
}

.header__logo-img {
    height: 40px;
    width: 60px;
    display: flex;
    align-items: baseline;
    @media screen and (min-width: 1200px) {
        width: auto;
        height: 62px;
    }
}

.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    // max-width: 1470px;
    font-size: 0.99rem;
    border-top: solid 2px #979797;
    @media screen and (min-width:1200px) {
        padding: 20px;
        border-top: solid 2px #979797;
    }
}

.footer__ul {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1rem;
    flex-direction: column;
    @media screen and (min-width:1200px) {
       font-size: 1.6rem;
       flex-direction: row;
} 
    }

    .footer__marg {
        margin-left: 25px;
        @media screen and (min-width:1200px) {
            margin-left: 0px;   
    }
}
    

.footer__pad {
    padding: 40px;
}

footer a:hover {
    color: #38a7ba;
    text-decoration: dotted underline;
}

header {
    position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 50;
          background-color: #fff; 
          border-bottom: 1px solid #ccc;
}

header a:hover {
    color: #38a7ba;
    text-decoration: dotted underline;
}

.footer__h3 {
    text-decoration: underline;
    font-size: x-large;
}